.attraction-card__container {
	border: 1px solid transparent;
	border-radius: 8px;
	padding: 8px;
	margin-bottom: 8px;
	transition: all 0.3s;
	background-color: var(--primary-lighter);
	position: relative;
	overflow: hidden;
}

.attraction-card__container::after {
	content: attr(data-index);
	position: absolute;
	right: 10px;
	top: -10px;
	color: rgba(0, 0, 0, 0.2);
	font-size: 3em;
	font-style: italic;
	font-weight: bold;
}

.attraction-card__container:hover::after {
	color: #fff;
}

.attraction-card__container:hover,
.attraction-card__container.is-dragging {
	background-color: var(--primary-color);
	color: #fff;
	border: 1px solid transparent;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
