header.header {
	padding: 0 10%;
	height: 64px;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
}

.logo-container {
	width: 100px;
	height: 100px;
}

.header__title {
	margin: 0;
	position: relative;
	left: -20px;
	color: var(--primary-color);
}
